## This file is managed by Ansible!
## DO NOT MANUALLY EDIT THIS FILE -- YOUR CHANGES WILL BE OVERWRITTEN ##

{% if resolv_options %}
{% for options in resolv_options %}
 options {{ options }} 
{% endfor %}
{% endif %}

{% if resolv_dns_domain %}
domain {{ resolv_dns_domain }}
{% endif %}

{% if resolv_searchpath %}
search  {% for searchpath in resolv_searchpath %} {{ searchpath }} {% endfor %}
{% endif %}

{% for dns_server in resolv_dns_server %}
nameserver {{ dns_server }}
{% endfor %}
